
:root{
	--primary: #4361ee;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #0e9594;
	--back-btn-hover: #8b8c8c;
}

h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
#myform {
  margin-top: 5rem;
}
#welcome {
  margin-top: 5rem;
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.pl-0 {
  padding-left: 0;
}
/* .button {
  padding: 0.7rem 1.5rem;
  border: 1px solid #4361ee;
  background-color: #4361ee;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
} */
.submit-btn {
  border: 1px solid #0e9594;
  background-color: #0e9594;
}
.mt-3 {
  margin-top: 2rem;
}
.d-none {
  display: none;
}
.form-step {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 3rem;
}
.font-normal {
  font-weight: normal;
}
ul.form-stepper {
  counter-reset: section;
  margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
  position: relative;
}
ul.form-stepper .form-stepper-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
  margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  content: "";
  top: 32%;
}
.form-stepper-horizontal li:after {
  background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
  background-color: #0e9594;
}
.form-stepper-horizontal li:last-child {
  flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 0;
  line-height: 1.7rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
  background-color: #4361ee !important;
  color: #fff;
}
.form-stepper .form-stepper-active .label {
  color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
  background-color: #4361ee !important;
  color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
  background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
  background-color: #0e9594 !important;
  color: #fff;
}
.form-stepper .form-stepper-completed .label {
  color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
  background-color: #0e9594 !important;
  color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
  color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
  color: #fff !important;
}
.form-stepper .label {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.form-stepper a {
  cursor: default;
  text-decoration: none;
}

.btns_wrap {
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
}

.btns_wrap .common_btns {
  display: flex;
  justify-content: space-between;
}

.btns_wrap .common_btns.form_1_btns {
  justify-content: flex-end;
}

.btns_wrap .common_btns .btn-navigate-form-step {
  border: 0;
  padding: 12px 15px;
  background: var(--primary);
  color: var(--white);
  width: 135px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 3px;
  transition: 0.5s ease;
  cursor: pointer;
}
.btns_wrap .common_btns button {
  border: 0;
  padding: 12px 15px;
  background: var(--primary);
  color: var(--white);
  
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 3px;
  transition: 0.5s ease;
  cursor: pointer;
}

.btns_wrap .common_btns button.btn_back {
  background: var(--secondary);
}

.btns_wrap .common_btns button.btn_next .icon {
  display: flex;
  margin-left: 10px;
}

.btns_wrap .common_btns button.btn_back .icon {
  display: flex;
  margin-right: 10px;
}

.btns_wrap .common_btns button.btn_next:hover,
.btns_wrap .common_btns button.btn_done:hover {
  background: var(--next-btn-hover);
}

.btns_wrap .common_btns button.btn_back:hover {
  background: var(--back-btn-hover);
}




.ss-main .ss-multi-selected {
    padding: 15px;
    min-height: 60px;
}

.ss-main .ss-single-selected {
  
  min-height: 60px;
  padding: 15px;
}

.fade {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

@media only screen and (min-width: 900px) {
  .enterme {
    display: block;
  }
  #lol {
    justify-content: space-between !important
  }
}

@media only screen and (max-width: 899px) {
  .enterme {
    display: none;
  }
  #lol {
    justify-content: center !important
  }
}



@media only screen and (max-width: 750px) {
  .des{
      display: none;
  }
}

@media only screen and (max-width: 500px) {
  .form-step {
    padding: 1rem;
}
}
td {
  vertical-align: middle !important;
}